<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="uk.co.qualityscape.APITestingFramework.extentlisteners.ExtentListeners" />
    </listeners>

    <test name="Create Customer API Test">
        <classes>
            <class name="uk.co.qualityscape.APITestingFramework.testcases.CreateCustomerTest" />
        </classes>
    </test>

    <test name="Delete Customer API Test">
        <classes>
            <class name="uk.co.qualityscape.APITestingFramework.testcases.DeleteCustomerTest" />
        </classes>
    </test>
</suite>